<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<nav class="navbar">

    <a th:href="@{/}" class="logo">
        <i class="fa-solid fa-house"></i>
           RealEstate
    </a>
</nav>

<section class="login-section">

    <div class="login-card">

        <h2>Login</h2>

        <p th:if="${param.error}" class="error">
            Invalid Email or Password
        </p>

        <p th:if="${param.logout}" class="success">
            Logged out successfully
        </p>

        <form th:action="@{/login}" method="post">

            <div class="form-group">

                <label>Email</label>

                <input type="email"
                       name="username"
                       placeholder="Enter Email"
                       required>

            </div>

            <div class="form-group">

                <label>Password</label>

                <input type="password"
                       name="password"
                       placeholder="Enter Password"
                       required>

            </div>

            <button type="submit" class="btn save-btn">

                Login

            </button>

        </form>

        <p class="register-link">

            Don't have an account?

            <a th:href="@{/signup}">
                Register Here
            </a>

        </p>

    </div>

</section>

</body>

</html>