<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"></html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All Properties</title>

    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<nav class="navbar">

    <a th:href="@{/}" class="logo">
        <i class="fa-solid fa-house"></i>
            RealEstate
    </a>

    <ul>

        <li><a th:href="@{/}">Home</a></li>

        <li><a th:href="@{/properties}">Properties</a></li>

        <li><a th:href="@{/properties/add}">Add Property</a></li>

        <li><a th:href="@{/logout}">Logout</a></li>

    </ul>

</nav>

<section class="properties-section">

    <div class="heading">

        <h1>Available Properties</h1>

        <a th:href="@{/properties/add}" class="btn">
            Add Property
        </a>

    </div>

    <div class="property-container">

        <div class="property-card"
             th:each="property : ${properties}">

            <img th:src="${property.imageUrl}"
                 alt="Property Image">

            <div class="property-content">

                <h2 th:text="${property.title}"></h2>

                <p>

                    <i class="fa-solid fa-location-dot"></i>

                    <span th:text="${property.city}"></span>

                </p>

                <p>

                     <strong>₹ </strong>

                     <span th:text="${#numbers.formatDecimal(property.price,0,'COMMA',0,'POINT')}"></span>

                </p>

                <p>

                    <strong>Type : </strong>

                    <span th:text="${property.propertyType}"></span>

                </p>

                <div class="buttons">

                    <a th:href="@{/properties/{id}(id=${property.id})}"
                       class="btn">
                        View
                    </a>

                    <a th:href="@{/properties/edit/{id}(id=${property.id})}"
                       class="btn secondary">
                        Edit
                    </a>

                    <a th:href="@{/properties/delete/{id}(id=${property.id})}"
                       class="btn delete">
                        Delete
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>

</body>

</html>